<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="app-title">CHulk Norris App</span>
                <span class="bar-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-toolbar>
        </div>
    </div>
    <div class="col-xs-12 center" *ngIf="loading">
        <div class="box spinner-div"><mat-spinner></mat-spinner></div>
    </div>
    <div class="col-xs-12" *ngIf="!loading">
        <mat-card class="joke-card" *ngFor="let joke of initialRandomJokes">
            <mat-card-content>
                {{joke.value}}
            </mat-card-content>
        </mat-card>
    </div>
</div>