<div class="row">
    <app-top-bar class="col-xs-12">
        <button mat-button aria-label="Go to favorites" (click)="goToFavorites()">
            <span>My favorites</span> <mat-icon>favorite</mat-icon>
        </button>
    </app-top-bar>
    <div class="col-xs-12 center" *ngIf="jokesList.length < MAX_JOKES_PER_PAGE">
        <div class="box spinner-div"><mat-spinner></mat-spinner></div>
    </div>
    <div class="col-xs-12" *ngIf="jokesList.length >= MAX_JOKES_PER_PAGE">
        <ng-container *ngFor="let joke of jokesList.reverse(); let i = index">
            <app-joke-card
                [index]="i"
                [joke]="joke"
                (addedJoke)="addJokeToFavorites($event)"
            />
        </ng-container >
    </div>
</div>